.hms-color-light{
    color: #92803d;
}
.hms-bg-normal{
    background-color: #544427;
    color: #fff;
}
.hms-color-dark{
    background-color: #92803d;
    color: #fff;
}

a {
    text-decoration: none;
}